<%= form_with(model: cookie_sale, local: true) do |form| %>
  <% if cookie_sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cookie_sale.errors.count, "error") %> prohibited this cookie_sale from being saved:</h2>

      <ul>
      <% cookie_sale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <label class="textfield">
    <%= form.text_field :first_name, id: :cookie_sale_first_name %>
    <span class="textfield__label">First name</span>
  </label>

  <label class="textfield">
    <%= form.text_field :sales, id: :cookie_sale_sales %>
    <span class="textfield__label">Sales</span>
  </label>

  <p class="dateselectfield">
    <%= form.label :sale_date %>
    <%= form.date_select :sale_date, order: [:day, :month, :year], with_css_classes: true, id: :cookie_sale_sale_date, class: 'select' %>
  </p>

  <%= form.submit %>
<% end %>
