<p id="notice"><%= notice %></p>

<h1>Cookie Sales</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th class="ta-right">Sales</th>
      <th class="ta-right">Sale date</th>
      <th class="ta-right" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cookie_sales.each do |cookie_sale| %>
      <tr>
        <td><%= cookie_sale.first_name %></td>
        <td class="money ta-right"><%= humanized_money_with_symbol(cookie_sale.sales) %></td>
        <td class="ta-right"><%= cookie_sale.sale_date %></td>
        <td class="ta-right"><%= link_to 'Show', cookie_sale %></td>
        <td class="ta-right"><%= link_to 'Edit', edit_cookie_sale_path(cookie_sale) %></td>
        <td class="ta-right"><%= link_to 'Destroy', cookie_sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h4>Hall of fames</h4>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th class="ta-right">Sales</th>
    </tr>
  </thead>

  <tbody>
    <% @hall_of_fame.each.with_index(1) do |value, index| %>
      <tr class=<%= 'fw-bold' if index < 3 %>>
        <td><%= index %>. <%= value.first_name %></td>
        <td class="money ta-right"><%= humanized_money_with_symbol(value.sales_total) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cookie Sale', new_cookie_sale_path %>
